torch==2.7.0
torchvision==0.22.0
pandas==2.2.3
opencv-python==4.8.0.76
nltk==3.8.1
tqdm==4.65.0
numpy==1.24.4
python-Levenshtein==0.23.0
editdistance==0.8.1
pylatexenc==2.10
pillow==9.5.0
python-dotenv==0.21.0
python-multipart==0.0.20

# If you want to use MLflow during training
mlflow==3.1.0